.container { 
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100px;
    height: 100px;
}

#skillsH1,#projectH1,#contactH1 {
    font-size: 30px;
    font-weight: 800;
    font-family: cursive;
    color: rgb(86, 230, 186);
}

/*=================================================HEADING====================================================*/

#logo {
    width: 270px;
    height: 150px;
}

header{
    display: flex;
    align-items: center;
    width: auto;
    margin: 20px;
}

ul {
    margin-left: 280px;
}

li {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    font-family: cursive;
    font-size: 40px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: rgb(145, 202, 228);
}

#animation {
    text-decoration: none;
    color: rgb(86, 230, 186);
    transition: 0.2s;
}

#animation:hover {
    font-size: 50px;
    color: rgb(30, 31, 30);
}

/*=================================================ABOUT====================================================*/

.about{
    display: flex;
    border: solid black 5px;
    margin: 20px;
}

.main {
    width: auto;
    margin: 10px;
    font-size: 30px;
    font-weight: 800;
    color: rgb(86, 230, 186);
}

.main-animation {
    font-weight: 700;
    font-family: cursive;
}

#varsha {
    width: 350px;
    height: auto;
}

.left-side {
    width: 65%;
    padding: 20px;
}

.right-side {
    display: flex;
    width: auto;
}

.link {
    display: block;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.github, .linkedin {
    font-size: 42.3px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.github {
    background-color: black;
    padding:17px;
}

.linkedin {
    background-color: rgb(86, 86, 241);
    padding: 17px;
}

/*=================================================SKILLS====================================================*/
.skills {
    display: flex;
    border: solid black 5px;
    margin: 20px;
    display: block;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.html, .css , .javascript, .bootstrap, .rdbms{
    display: inline-block;
    padding: 20px;
    border: rgb(134, 170, 236);
    border: dotted;
    border-radius: 2px;
    margin: 5px; 
}

/*=================================================CONTACT====================================================*/
.contact {
    text-align: center;
    border: solid black 5px;
    margin: 20px;
}

#contactImage {
    width: 70px;
    height: 70px;
}

.contactTable {
    width: auto;
    height: auto;
    margin: 20px;
    margin-left: 370px;
    padding:10px;
}

td {
    padding:10px;
    font-size: 30px;
    font-weight: 700;
    font-family: cursive;
}

/*=================================================PROJECTS===================================================*/
.project {
    display: block;
    border: solid black 5px;
    margin: 20px;
    text-align: center;
}

#sc {
    font-weight: 900;
    font-family: cursive;
    font-size: 40px;
    color: rgb(98, 209, 131);
}

.sc, .ep, .mvm, .phs {
    display: inline-block;
    text-align: justify;
    width: 80%;
    height: auto;
    margin: 20px;
    padding:20px;
    border: 5px solid rgb(5, 5, 5);
}

.mySlides {
    display:none;
    width :100%;
    height: 100%;
}

.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
